
@model IEnumerable<ProyectoFinal.Entities.UsuariosEnt>

@{
    ViewBag.Title = "ConsultarUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-xs-4 grid-margin stretch-card">
    </div>

    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>

                <table class="table table-hover">
                    <thead>
                        <tr class="row">
                            <th class="col-sm-2">Nombre</th>
                            <th class="col-sm-2">Apellido</th>
                            <th class="col-sm-1">Edad</th>
                            <th class="col-sm-2">Telefono</th>
                            <th class="col-sm-3">Correo Electrónico</th>
                            <th class="col-xs-3">Estado</th>
                            <th class="col-xs-3">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class ="row">
                                <td class="col-sm-2">@item.Nombre</td>
                                <td class="col-sm-2">@item.Apellido</td>
                                <td class="col-sm-1">@item.Edad</td>
                                <td class="col-sm-2">@item.Telefono</td>
                                <td class="col-sm-3">@item.CorreoElectronico</td>

                                @if (@item.Estado)
                                {
                                    <td class="col-xs-3">Activo</td>
                                }
                                else
                                {
                                    <td class="col-xs-3">Inactivo</td>
                                }

                                <td class="col-xs-3">
                                    <a href="@Url.Action("ActualizarUsuarios","Usuarios", new { q = item.ConsecutivoUsuario })" class="ti-reload"></a>

                                    <a href="#" class="ti-trash openModal" data-toggle="modal" data-target="#exampleModalCenter"
                                       data-backdrop="static" data-keyboard="false" data-id=@item.ConsecutivoUsuario></a>

                                <td />
                                </tr>
                            }

                    </tbody>
                </table>
                
                
                @*<div class="state-hover border">
                    <div class="row">
                        <div class="col-sm-2">Nombre</div>
                        <div class="col-sm-2">Apellido</div>
                        <div class="col-sm-1">Edad</div>
                        <div class="col-sm-2">Telefono</div>
                        <div class="col-sm-3">Correo Electrónico</div>
                        <div class="col-sm-1">Estado</div>
                        <div class="col-xs-4">Acciones</div>
                    </div>

                        @foreach (var item in Model)
                        {
                            <div class="row">
                                <div class="col-sm-2">@item.Nombre</div>
                                <div class="col-sm-2">@item.Apellido</div>
                                <div class="col-sm-1">@item.Edad</div>
                                <div class="col-sm-2">@item.Telefono</div>
                                <div class="col-sm-3">@item.CorreoElectronico</div>

                                @if (@item.Estado)
                                {
                                    <div class="col-sm-1">Activo</div>
                                }
                                else
                                {
                                    <div class="col-sm-1">Inactivo</div>
                                }

                                <div class="col-xs-12">
                                    <a href="@Url.Action("ActualizarUsuarios","Usuarios", new { q = item.ConsecutivoUsuario })" class="ti-reload"></a>

                                    <a href="#" class="ti-trash openModal" data-toggle="modal" data-target="#exampleModalCenter"
                                       data-backdrop="static" data-keyboard="false" data-id=@item.ConsecutivoUsuario></a>

                                </div>
                            </div>
                        }

                </div>*@

                @*<table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Edad</th>
                            <th>Telefono</th>
                            <th>Correo Electrónico</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Nombre</td>
                                <td>@item.Apellido</td>
                                <td>@item.Edad</td>
                                <td>@item.Telefono</td>
                                <td>@item.CorreoElectronico</td>

                                @if (@item.Estado)
                                {
                                    <td>Activo</td>
                                }
                                else
                                {
                                    <td>Inactivo</td>
                                }

                                <td>
                                    <a href="@Url.Action("ActualizarUsuarios","Usuarios", new { q = item.ConsecutivoUsuario })" class="ti-reload"></a>

                                    <a href="#" class="ti-trash openModal" data-toggle="modal" data-target="#exampleModalCenter"
                                       data-backdrop="static" data-keyboard="false" data-id=@item.ConsecutivoUsuario></a>

                                <td />
                            </tr>
                        }

                    </tbody>
                </table>*@



            </div>
        </div>
    </div>

</div>
